.homeDiv {
    min-height: 100vh;
    width: 100%;
	background-image: url("https://www.ethereum.org/images/assets/1900/Ethereum-homestead-background-4.jpg");	
    background-color: rgba(30, 30, 30, 0.7);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.homeSection {
	width: 100%;
    width: auto;
    min-height: 100vh;
    height: auto;
    display: flex;
    text-align:center;
    align-content: center;
}
.homeSection h1 {
    padding: 0;
    margin:auto;
    color: white;
}

.projectsDiv {
    background-color: rgba(30, 30, 30, 0.5);
}

.aboutDiv { 
    background-color: rgba(30, 30, 30, 0.7);	
}

.blogDiv { 
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1em;
}
.blogDiv h1{
    color: black;
}

.mediumCard{
    max-width: 25em;
    width: auto;
    padding: 1em;
}